body{
    font-family:Comforta;
    background-color:#E0CB4C;
    color:#2F2394;

}
h1,h2,h3,h4,h5,h6{
    font-family:Staatliches;
    font-size:30pt;
}

header,footer{
    text-align:center;
}

h2{ 
    margin: .1em;
}

/*Hobbies*/
#hobbies{
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#hobbies ul li:nth-child(even){
    color: #000;

}

/*Gallery*/

#gallery{

    border: 2px solid #2F2394;
}

#gallery img{
    max-width:100%; 
}

#jeep, #trailer, #mazda{
    text-align: center;
}


/* Literature */ 

#lit {

    border: 2px solid #2F2394;
    margin-bottom:2rem;
}

#lit div {

    padding:2rem;
    max-width: 40rem;
    margin: 0 auto;
}

@media screen and (min-width: 60em){
    
    figure{
        
      display: grid;
      grid-template-columns: 2fr 1fr; 

    }

    figcaption{

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      margin-left: 1rem;

    }


}